<!-- <ul>
  <li><a href="" routerLink="home" routerLinkActive="active">Home</a></li>
  <li><a href="" routerLink="about" routerLinkActive="active">About</a></li>
  <li><a href="" routerLink="contact" routerLinkActive="active">Contact</a></li>
</ul> -->
<ul>
  <li>
    <a href="" routerLink="register" routerLinkActive="active">Register</a>
  </li>
  <li><a href="" routerLink="login" routerLinkActive="active">Login</a></li>
  <li>
    <a href="" routerLink="dashboard" routerLinkActive="active">Dashboard</a>
  </li>
</ul>
<router-outlet></router-outlet>
