<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Navbar</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="india" routerLinkActive="active"
          >Indian Team
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="bangla" routerLinkActive="active"
          >Bangla Team</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="srilanka" routerLinkActive="active"
          >Srilanka Team</a
        >
      </li>
    </ul>
  </div>
</nav>
<!-- 
<ul>
  <li routerLink="india">India</li>
  <li routerLink="bangla">Bangla</li>
  <li routerLink="srilanka">Srilanka</li>
</ul> -->

<div class="container">
  <router-outlet></router-outlet>
</div>
